<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<title>JUN Portfolio</title>
<%- include("./includes/head.ejs") %>
</head>
<body>
    <div id="skip" class="skip">
        <a href="#header">헤더바로가기</a>
        <a href="#container">본문바로가기</a>
    </div>
    <div class="wrapper">
        <%- include("./includes/header.ejs") %>
        <%- include("./includes/layout.ejs", { cardBox: cardBox || [] }) %>
        <%- include("./includes/footer.ejs") %>
    </div>
    <div id="intro" class="intro on" tabindex="-1">
        <h1>
            <img src="../assets/images/jlogo-w.svg" alt="JUN Portfolio">
        </h1>
        <div class="intro-wrap">
            <svg class="transition" viewBox="0 0 100 100" preserveAspectRatio="xMidYMin slice">
                <defs>
                <linearGradient id="grad" x1="0" y1="0" x2="99" y2="99" gradientUnits="userSpaceOnUse">
                    <stop offset="0.2" stop-color="#25CEA6" />
                    <stop offset="0.7" stop-color="#9AA3FF" />
                </linearGradient>
                </defs>
                <path class="path" stroke="url(#grad)" fill="url(#grad)" stroke-width="2px" vector-effect="non-scaling-stroke" d="M 0 100 V 100 Q 50 100 100 100 V 100 z" />
            </svg>
        </div>
    </div>
    <!-- toast -->
    <div class="toast-container" id="toastContainer" role="status" aria-live="polite" aria-atomic="true"></div>

    <!-- js -->
    <script src="../assets/js/script.js"></script>

    <!-- gsap -->
    <script src="https://unpkg.com/gsap@3/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/gsap@3/dist/MorphSVGPlugin.min.js"></script>

    <script src="../assets/js/animation.js"></script>


</body>
</html>
