<!-- [s] header -->
<header id="header" class="header">
    <div class="inner">
        <h1 class="logo">
            <a href="/"><strong>Jun</strong>Portfolio</a>
        </h1>
        <nav class="nav" id="nav">
            <ul class="gnb">
                <li><a href="#">HOME</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <button class="nav-toggle-btn" aria-expanded="false" aria-controls="nav">
            <span class="sr-only">메뉴 열기</span>
        </button>
    </div>
</header>
<!-- // [e] header -->
