@use '../base/variables' as *;
@use '../base/mixin' as *;

/* combinator */
.h1 + p,
.h2 + p {
    margin-top: 20px;
}
.h3 + p {
    margin-top: 10px;
}

/* mv */
.sec01 {
    @include bg("visual.jpg", left 38%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
        // .h1 {
        //     --font-color: #{$co-white};
        //     opacity: 0;
        //     transform: translateY(100px);
        //     animation: maintitle 0.5s linear 0.5s both;
        // }
        // .body1 {
        //     --font-color: #{$co-white};
        //     opacity: 0;
        //     transform: translateY(100px);
        //     animation: maintitle 0.5s linear 0.8s both;
        // }
    .section-area {
        border-radius: 0;
        box-shadow: none;
    }
    .main-text {
        padding-top: 200px;
        position: relative;
    }
    .title {
        margin-bottom: 0;
        position: relative;
        z-index: 2;
        span {
            font-family: "Noto Sans KR", sans-serif;
            @include mediaPc {
                font-size: 96px;
            }
            font-size: 60px;
            font-weight: 900;
            -webkit-text-stroke: 1px #FDBD39;
            color: transparent;
            .char {
                animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
                animation-delay: calc(100ms * var(--char-index));
            }
        }
        em {
            font-family: "Noto Sans KR", sans-serif;
            display: block;
            font-size: 1.25rem;
            font-weight: 400;
        }
    }
    .sub-title {
        opacity: 0;
        @include media {
            font-size: 1rem;
        }
    }
    .body3 {
        opacity: 0;
        // @include media {
        //     font-size: 1rem;
        // }
    }
}
@keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-.5turn) scale(0.5);
    opacity: 0;
  }
}
// @keyframes maintitle {
//     from {
//         -webkit-transform: translate(100px);
//         transform: translateY(100px);
//         opacity: 0;
//     }

//     to {
//         -webkit-transform: translate(0);
//         transform: translateY(0);
//         opacity: 1;
//     }
// }

/* about me */
.sec02 {
    .profile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include media {
            grid-template-columns: 1fr;
        }
        align-items: center;
        .img {
            text-align: center;
            img {
                max-width: 240px;
            }
        }
        .sub-text p {
            margin-bottom: 40px;
            @include media {
                margin-top: 40px;
            }
        }
    }
    .tool-list {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: rem(16);
        margin-left: rem(-8);
        @include mediaPc {
            max-width: 980px;
            justify-content: center;
            margin: auto;
        }
        li {
            margin-top: rem(8);
            margin-left: rem(8);
            max-width: 92px;
            @include media {
                width: 60px;
            }
        }
    }
}

/* works */
.sec03 {
    .bg-text {
        font-size: 160px;
        font-weight: 900;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        opacity: 0.5;
        @include media{
           font-size: 120px;
        }
    }
}
.card-list {
    position: relative;
    z-index: 2;
    //overflow: hidden;
    padding: 0 30px;
    @include media {
        padding: 0 10px;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        content:'';
    }
    .swiper-button-next, .swiper-button-prev {
        width: rem(60);
        height: rem(60);
        @include media {
            width: rem(40);
            height: rem(40);
        }
    }
    .swiper-button-next {
        right: 0;
        background: url('../images/ico_arrow_right.png');
        // background-color: rgba(41,101,241,0.6);
        background-color: rgba(0,0,0,0.6);
        border-radius: 50%;
        background-size: contain;
    }
    .swiper-button-prev {
        left: 0;
        background: url('../images/ico_arrow_left.png');
        background-color: rgba(0,0,0,0.6);
        border-radius: 50%;
        background-size: contain;
    }
    .card-box {
        display: block;
        background-color: #151516;
        border: 1px solid #414141;
        border-radius: 20px;
        overflow: hidden;
        .card-desc {
            padding: 24px 20px;
            .text {
                font-weight: 500;
            }
            .info {
                span {
                    font-size: rem(16);
                    color: #666;
                    display: inline-block;
                    padding: 8px 0 16px;
                }
            }
        }
    }
}

/* contact */
.sec04 {
    // background-color: $co-green;
    // position: relative;
    // @include media {
    //     padding-bottom: 0;
    // }
    // @include after {
    //     position: absolute;
    //     inset: 0 0 0 50%;
    //     @include bg("contact.jpg", center center);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     @include media {
    //         position: relative;
    //         inset: 0 0 0 0;
    //         padding-top: 50%;
    //         margin-top: rem(40);
    //     }
    // }
    text-align: center;
    .mail {
        margin: 80px auto;
        // font-size: 64px;
        @include typo('h2');
        font-weight: 700;
        color: #fff;
        display: block;
        line-height: 1.5;
        position: relative;
        z-index: 2;
        &:hover {
            background: linear-gradient(-87deg, #2965F1, #0FC8E0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        @include media {
            font-size: 1.5rem;
        }
    }
    .copy {
        margin-top: 80px;
        font-size: 1rem;
        color: $co-white;
        font-weight: 400;
        strong {
            font-weight: bold;
        }
    }
    // .contact-area {
    //     .h3 {
    //         color: $co-black;
    //         font-weight: 500;
    //     }
    // }
    // .contact-email {
    //     .btn {
    //         margin-top: rem(24);
    //         i {
    //             font-style: normal;
    //             margin-right: 4px;
    //         }
    //     }
    //     .body3 {
    //         padding-top: 8px;
    //         padding-left: 8px;
    //         color: $primary;
    //     }
    // }
}

#lottie1 {
    position: absolute;
    top: 45%;
    left: 62%;
    z-index: 1;
    transform: translate(-50%,-50%);
}
#lottie2 {
    position: absolute;
    top: 35%;
    right: 15%;
    z-index: 1;
    @include media {
        right:0;
    }
}





